{{>header}}
<div class="container-sm">
	<h2>{{titulo}}</h2>
	<table class="table table-striped table-hover">
		<thead class="thead-color">
			<th>Id del curso</th>
			<th>Nombre</th>
			<th>Modalidad</th>
			<th>Valor</th>
			<th>Intencidad</th>
			<th>Descripción</th>
			<th>Estado</th>
		</thead>
		<tbody>
			{{{buscar idcurso}}}
		<tbody>
	</table>
	<div class="container-sm">
		<form class="row gy-2 gx-3 align-items-center" name="actualizar" action="/actualizar" method="post">
			<div class="col-md-16">
				<label class="form-label" class="form-label" for="estado">Estado*</label>
				<select class="form-control" id="estado" name="estado">
					<option selected disabled>--SELECIONAR--</option>
					<option value="disponible">Disponible</option>
					<option value="cerrado">Cerrado</option>
				</select>
			</div>
			<input class="btn btn-primary col-md-12" type="submit">
		</form>
	</div>
</div>
{{>footer}}