{{>header}}
<div class="container-sm">
	<h2>Lista de cursos</h2>
	<table class="table table-striped table-hover">
		<thead class="thead-color">
			<th>Documento</th>
			<th>Nombre</th>
			<th>Correo</th>
			<th>telefono</th>
			<th>Curso</th>
		</thead>
		<tbody>
			{{{listarInscritos}}}
		<tbody>
	</table>
</div>
{{>footer}}